/* Asegúrate de tener esto al final de tu style.css */

.menu-section {
    display: none; /* Por defecto oculto */
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-section.active {
    display: block; /* Solo se ve el que tiene la clase active */
    opacity: 1;
}

/* Estilos para el Administrador agupado */
.admin-group {
    margin-bottom: 30px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #eee;
}
.admin-group h3 {
    font-size: 0.9rem;
    color: var(--accent);
    text-transform: uppercase;
    margin-bottom: 15px;
    border-bottom: 2px solid #f1f1f1;
}
.admin-dish-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #fafafa;
}
